* {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    font-family: sans-serif;
}
body {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}
.fight-area {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#char, #monster {
    flex: 1;
}
strong {
    color: #fff;
}
.life-bar {
    height: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.bar {
    height: inherit;
    width: 10%;
    background-color: chocolate;
    border-radius: inherit;
}
.log {
    width: 1000px;
    margin: 50px auto;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #fff;
}